* {
    margin: 0;
}

body {
    background-color: hsl(185, 75%, 39%);
}

.main-box {
    position: absolute;
    top: 150px;
    left: 500px;
    ;
    height: 350px;
    width: 400px;
    background-color: white
}

h1 {
    font-family: Kumbh Sans;
}

.bottom-circle {
    position: absolute;
    left: 560px;
    top: 315px;
}

footer {
    position: absolute;
    top: 620px;
}